<h3>Gerenciar Senhas!</h3>
<div class="form-group">
    <div>
        <button id="btn-snormal" type="submit" class="btn btn-terciary"
        (click)="chamarSenha()">Chamar Senha</button>
    </div>
</div>

<div>
    
    <div>
        <span *ngIf="showLabel" id=”label-senha-chamada”>
            <h3 style="color:red;">Senha Chamada: {{this.senha.tpoFila + this.senha.numero}}</h3>
        </span>  
    </div>
   
</div>

<div style="position:relative; top: 20px; text-align: center;">
    <div>
        <button id="btn-snormal" type="submit" class="btn btn-terciary"
        (click)="excluiSenhas()">Resetar Senhas</button>
    </div>
</div>